-- Drop existing foreign key constraints if they exist ALTER TABLE public.bookings DROP CONSTRAINT IF EXISTS bookings_created_by_fkey CASCADE, DROP CONSTRAINT IF EXISTS bookings_updated_by_fkey CASCADE; -- Add the correct foreign key constraints ALTER TABLE public.bookings ADD CONSTRAINT bookings_created_by_fkey FOREIGN KEY (created_by) REFERENCES auth.users(id) ON DELETE SET NULL; ALTER TABLE public.bookings ADD CONSTRAINT bookings_updated_by_fkey FOREIGN KEY (updated_by) REFERENCES auth.users(id) ON DELETE SET NULL; -- Add indexes for better query performance CREATE INDEX IF NOT EXISTS idx_bookings_created_by ON public.bookings(created_by); CREATE INDEX IF NOT EXISTS idx_bookings_updated_by ON public.bookings(updated_by);
